<!DOCTYPE>
<html ng-app="myApp">
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<title>Automated Dial Transfer Body</title>
</head>

<!-- <body onLoad = "myFunc()"> -->
<body>

<!-- Use a bootstrap container -->
<div id="myControllerDiv" class="container" ng-controller="AppCtrl">
	<h1>Automated Dial Transfer Hub</h1>

	<table class="table">

		<thead>
			<tr>
				<th>_id</th>
				<th>Account</th>
				<th>Customer Name</th>
				<th>Transfer reason</th>
				<th>Action</th>
				<th>Action 2</th>
				<th>Action 3</th>
			</tr>

		</thead>

		<tbody>
			<tr>
				<!--  add a set of input fields to collect data items and add them to a new "transfer" object -->
				<td>&nbsp;</td>
				<td><input class="form-control" ng-model="transfer.account"></td>
				<td><input class="form-control" ng-model="transfer.customer_name"></td>
				<td><input class="form-control" ng-model="transfer.transfer_reason"></td>
				<!-- Create a button with bootstrap styling and an Angular event to call our insert function -->
				<td><button class="btn btn-primary" ng-click="addTransfer()">Add Transfer</button></td>
				<td><button class="btn btn-info" ng-click="updateTransfer()">Update</button></td>
				<td><button class="btn btn-info" ng-click="clearInputs()">Clear</button></td>
			</tr>
			<tr ng-repeat="transfer in transfers">
				<td>{{transfer._id}}</td>
				<td>{{transfer.account}}</td>
				<td>{{transfer.customer_name}}</td>
				<td>{{transfer.transfer_reason}}</td>
				<td><button class="btn btn-danger" ng-click="removeTransfer(transfer._id)">Remove</button></td>
				<td><button class="btn btn-warning" ng-click="editTransfer(transfer._id)">Edit</button></td>		
			</tr>

		</tbody>

	</table>

	<!-- Report response time -->
	Response time of last action in milliseconds: &nbsp;&nbsp; <input id="responseTimeDisplay" type="text" size=5 readonly>


</div>

<!-- Enable use of Angular.js -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>

<!-- Use a separate Angular controller file -->
<script src="controllers/controller.js"></script>

<!-- Call my edit function the same way a parent window might, to see if it works -->
	<script type="text/javascript">

	// Listen for calls from the portal app
	function eventReceiver(event) {
		if (event.origin.startsWith("http://localhost")) {
				myDiv = document.getElementById('myControllerDiv');
				angular.element(myDiv).scope().editTransfer(event.data);
			}
			else alert ("An unexpected host " + event.origin + " is trying to send me a message. Ignoring message.");
	}
	window.addEventListener('message', eventReceiver, false);

	</script>

</body>

</html>